@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #ffffff;
  --primary-color: #ddddd5;
  --brown-color: #725649;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url("table.jpg");
}

.topic{
  text-align: center;
  margin:120px 0 0 0;
  color:#740b0b;
  font-size: 3em;
}

.container {
  padding: 100px 50px 100px 50px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

.container > .cardwrapper {
  position: relative;
}

.cardwrapper {
  transform: scale(1);
  transition: all 0.5s ease-out;
  box-shadow: rgba(211, 211, 211, 0);
  margin: 100px 20px 0 20px;
}

/* Entire card animation */

.cardwrapper:hover {
  transform: scale(1.1) translate(0, -20px) rotateX(20deg);
  transition: all 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 50px 100px 4px;
}

/* ------------------------- Neck strap -------------------------*/

.neckstrap {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 35px;
  z-index: 4;
}

/* ------------------------- Card ------------------------- */

.card {
  min-width: 340px;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--brown-color);
  width: 50%;
  min-width: 50px;
  height: 0.4rem;
  border-radius: 0 0 10px 10px;
}

/*------------------------- cv ------------------------- */

.cv {
  /* This is backside */
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 55px 20px 30px 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translate(0, -100%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(218, 209, 200, 1) 100%
  );
  z-index: 3;
  box-shadow: 2.1px 0 12px hsl(0deg 0% 0% / 0.44);
  border-radius: 12px;
  transition: all 0.8s ease-in-out;
}

.cv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}


.cv > button {
  position: absolute;
  top: 0;
  right:0;
  background: transparent;
  border:none;
  width: 60px;
  padding:15px 20px;
  color:rgb(199, 16, 16);
  cursor: pointer;
}

.cv > h2 {
  color: #6d3e00;
  margin: 10px 0 10px 0;
  padding:0 5px;
  text-align: center;
}

.cv > ul {
  margin: 40px 0 0 0;
}

.cv > ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0 0;
  font-size: 0.9em;
  font-weight: 600;
}

.cv > ul li p:nth-child(1){
  color:rgb(59, 43, 27);
}

.cv > ul li p:nth-child(2){
  color:rgb(107, 60, 13);
  font-weight: 700;
}

.cv > div {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

.cv > div a i {
  color: rgb(97, 84, 60);
  font-size: 1.2em;
  cursor:pointer;
  padding:10px;
}

.cv > div a i:hover {
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
  color: black;
  -webkit-filter: drop-shadow(0px 20px 8px rgb(70, 70, 70, 0.459));
  filter: drop-shadow(0px 20px 8px rgba(70, 70, 70, 0.459));
}

/* ------------------------- Card head-------------------------*/

.card-head {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 20px 0;
  background-color: #950101;
  min-width: 250px;
  padding: 5px 0;
}

.card-head::before {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  width: 2px;
  height: 80%;
  background-color: #ddddd5;
  border-radius: 10px;
}

.card-head > p {
  padding-left: 1rem;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}

.card-head > h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  padding-right: 1rem;
}

/* ------------------------- Image wrapper -------------------------*/

.image-wrapper {
  max-width: 10rem;
  position: relative;
  z-index: 2;
  margin: 1rem 0 4rem 0;
  cursor: pointer;
  perspective: 1300;
}

.image-wrapper > img[alt="me"] {
  width: 100%;
  position: relative;
  z-index: 2;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.user-avatar {
  transform: scale(1) translate(0, 0);
  transition: all 0.3s ease-in-out;
}

/* Animation section */

.cv.active {
  opacity: 1;
  transform: translate(0);
  transition: all 0.8s cubic-bezier(0.83, 0.14, 0.5, 0.96); /* custom */
}

.image-wrapper:hover .user-avatar {
  /* transform: translateZ(2); */
  filter: drop-shadow(0px 30px 15px rgba(87, 87, 87, 0.345));
  transform: scale(1.13) translate(0, 12px) rotatex(-20deg);
  transition: all 0.3s ease-in-out;
}

.image-wrapper.active1:hover .user-avatar {
  transform: scale(1.25);
  transition: all 0.6s ease-in-out;
}

.image-wrapper.active2:hover .user-avatar {
  transform: scale(1.4) rotateZ(10deg);
  transition: all 0.6s ease-in-out;
}

.image-wrapper:hover::before {
  transform: scale(5) translate(0, 12px);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}

.image-wrapper:hover .clickme-hidden > p {
  animation: animate 0.5s ease-out both;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 0px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 100px) scale(1);
  }
}

.clickme-hidden {
  position: absolute;
  left: 0;
  right: 0;
  top: 90%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.clickme-hidden > p:nth-child(1) {
  position: relative;
  text-align: center;
  transform: translate(0, 0px) scale(0);
  opacity: 0;
  margin-bottom: 20px;
  z-index: 3;
  font-size: 0.9em;
  font-weight: 700;
  min-height: 70px;
  color: #4e4e4e;
}

.clickme-hidden > p:nth-child(2) {
  position: relative;
  background-color: rgba(224, 218, 218, 0);
  border: 2px solid rgb(107, 107, 107);
  text-align: center;
  padding: 6px 0;
  border-radius: 500px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  opacity: 0;
  transform: translate(0, 0px) scale(0);
  z-index: 3;
  transition: 0.1s ease-in-out;
  top: 0;
  user-select: none;
}

.clickme-hidden > p:nth-child(2):hover {
  background: linear-gradient(
    180deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(59, 130, 246, 1) 91%,
    rgba(50, 99, 180, 1) 91%,
    rgba(50, 99, 180, 1) 100%
  );
  color: white;
  border: 2px solid rgb(37, 37, 37);
  transition: 0.1s ease-in-out;
  top: -2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

/* End of animation section */

.image-wrapper::before {
  transform: scale(1) translate(0, 0);
  transition: all 0.3s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 13rem;
  height: 13rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(221, 221, 213, 0) 100%
  );
  z-index: 2;
  border-radius: 50%;
}

.image-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10rem;
  height: 0.8rem;
  background: linear-gradient(
    180deg,
    rgba(221, 221, 213, 1) 0%,
    rgba(168, 164, 141, 1) 100%
  );
  z-index: 1;
  border-radius: 50%;
}

.divide {
  position: relative;
  width: 100%;
  height: 0.2rem;
  background-color: #a5a58c;
}

.divide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.15rem;
  background-color: #c0c0b7;
  top: -5px;
}

/* ------------------------- card-botton -------------------------*/
.card-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
}

.name {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  margin: auto 10px;
  font-weight: 800;
  color: #950101;
  text-align: center;
  margin: 0 20px;
}

.card-bottom > p:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: rgb(129, 0, 0);
  color: white;
  padding: 12px 0;
  font-weight: 700;
  font-size: 1.8em;
}

.card-bottom > img {
  width: 320px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  margin: 10px 0;
}
